################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HW_PythonWEB_31.05.2025/.vs/HW_PythonWEB_31.05.2025/CopilotIndices/17.14.734.62261
/HW_PythonWEB_31.05.2025/.vs/HW_PythonWEB_31.05.2025/FileContentIndex
/HW_PythonWEB_31.05.2025/.vs/HW_PythonWEB_31.05.2025/v17
